// Imports
@import 'config';

.gamebox {
    @include gameboard
}

.status {
    @include status-head
}

.the-gallows {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 400px;
}

.hanging-bar {
    @include hangbar
}

.top-bar {
    @include top-bar
}

.vert-bar {
    @include big-boi-bar
}

.gallows-base {
    @include gallows-base
}
