@import 'config';

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background-color: #d6ccc2;
    border: 2px solid black;
    margin-top: 10px;

    h1 {
        color: $main-text;
        font-size: 2.5em;
    }

    h3 {
        color: $main-text;
        font-size: 1.5em;
    }

    p {
        color: $main-text;
        font-size: 1em;
    }
}

