@import 'config';

nav{
    border: 2px solid black;
    background: $box-color;
    width: 100%;
    
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 0 4em;
    }
  
    li a {
        text-decoration: none;
        color: $main-text;
        font-size: 1.5em;
    }
  
    li a:hover {
        color: $gallows-color;
    }
}

.user-greeting {
    text-decoration: none;
    color: $main-text;
    font-size: 1.5em;
  }